* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #fba834;
}
body {
  font-family: "Open Sans", sans-serif;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
}
/* Start Grid System */
@media (min-width: 576px) {
  /* Small Devices => Landscape Phones */
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  /* Medium Devices => Tablets */
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  /* Desktops */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* Large Screens */
  .container {
    max-width: 1140px;
  }
}
/* End Grid System */
/* Start Settings Box */

.settings-box {
  position: fixed;
  left: -200px;
  top: 0;
  background-color: #fff;
  width: 200px;
  z-index: 2000;
  min-height: 100vh;
  transition: 0.3s;
  border: 1px solid #eee;
}

.settings-box.open {
  left: 0;
}

.settings-box .toggle-settings {
  position: absolute;
  right: -30px;
  top: 100px;
  background-color: #fff;
  text-align: center;
  cursor: pointer;
}

.settings-box .toggle-settings .fa-gear {
  width: 30px;
  padding: 8px 0;
}

.settings-box .option-box {
  padding: 10px;
  text-align: center;
  background-color: #eee;
  margin: 10px;
}
.settings-box .option-box h4 {
  margin: 0;
  color: #666;
  font-size: 14px;
}
.settings-box .option-box .colors-list {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 10px 0 0;
}
.settings-box .option-box .colors-list li {
  width: 24px;
  height: 24px;
  background-color: #333;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  border: 3px solid #eee;
}
.settings-box .option-box .colors-list li.active {
  border-color: #fff;
}
.settings-box .option-box .colors-list li:first-child {
  background-color: #ff9800;
}
.settings-box .option-box .colors-list li:nth-child(2) {
  background-color: #e91e63;
}
.settings-box .option-box .colors-list li:nth-child(3) {
  background-color: #009688;
}
.settings-box .option-box .colors-list li:nth-child(4) {
  background-color: #03a9f4;
}
.settings-box .option-box .colors-list li:nth-child(5) {
  background-color: #4caf50;
}
.settings-box .option-box span {
  width: 50px;
  background-color: var(--primary-color);
  color: #fff;
  margin-top: 10px;
  display: inline-block;
  font-size: 12px;
  padding: 4px 10px;
  font-weight: bold;
  border-radius: 4px;
  opacity: 0.5;
  cursor: pointer;
}
.settings-box .option-box span.active {
  opacity: 1;
}
.settings-box .btn {
  background-color: #f44336;
  border: none;
  width: 178px;
  margin: 10px auto;
  display: block;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}
/* Start Bullets */
.bullets {
  position: fixed;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1000;
}
.bullets .bullet {
  width: 20px;
  height: 20px;
  border: 3px solid var(--primary-color);
  margin: 10px auto;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}
.bullets .bullet .tooltip {
  background-color: var(--primary-color);
  width: 120px;
  color: #fff;
  padding: 4px 10px;
  position: absolute;
  right: 40px;
  top: -6px;
  cursor: default;
  display: none;
  z-index: 1000;
}
.bullets .bullet .tooltip::after {
  content: "";
  border-style: solid;
  border-width: 8px;
  border-color: transparent transparent transparent var(--primary-color);
  height: 0;
  width: 0;
  position: absolute;
  right: -16px;
  top: 5px;
}

.bullets .bullet:hover .tooltip {
  display: block;
}
/* End Bullets */

.laning-page {
  min-height: 100vh;
  background-image: url("../imgs/01.jpg");
  background-size: cover;
  position: relative;
}
.laning-page .overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1;
}
.laning-page .container {
  position: relative;
  z-index: 999;
}
.laning-page .header-area {
  position: relative;
  z-index: 2;
  color: #fff;
  display: flex;
  padding: 10px;
}
.laning-page .header-area .logo {
  width: 300px;
  padding: 15px;
  font-weight: bold;
}
.header-area .links-container {
  width: 100%;
  text-align: right;
}

.laning-page .header-area .links {
  list-style: none;
  padding-left: 0;
}
.laning-page .header-area .links li {
  display: inline-block;
  margin-left: 10px;
}
.laning-page .header-area .links li a {
  color: #fff;
  text-decoration: none;
  transition: 0.3s;
}
.laning-page .header-area .links li a.active,
.laning-page .header-area .links li a:hover {
  color: var(--primary-color);
}
.header-area .toggle-menu {
  background: none;
  border: none;
  width: 40px;
  cursor: pointer;
  margin-top: 15px;
  display: none;
  position: relative;
}
.header-area .toggle-menu.menu-active:before {
  content: "";
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
  position: absolute;
  bottom: -15px;
  left: 10px;
}
.header-area .toggle-menu:focus {
  outline: none;
}
.header-area .toggle-menu span {
  display: block;
  background-color: #fff;
  height: 4px;
  margin-bottom: 4px;
}

.intro-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #fff;
  text-align: center;
  width: 95%;
}
.intro-text h1 {
  font-size: 34px;
  margin: 0 0 12px;
}
@media (max-width: 575px) {
  .intro-text h1 {
    font-size: 26px;
  }
}
.intro-text h1 span {
  color: var(--primary-color);
}
.intro-text p {
  line-height: 1.6;
  font-size: 20px;
  margin: 0;
}

@media (max-width: 991px) {
  .header-area .links {
    display: none;
  }
  .laning-page .header-area .links.open {
    background-color: #fff;
    padding: 10px;
    display: block;
    position: absolute;
    left: 0;
    top: 62px;
    width: 100%;
    border-radius: 4px;
    text-align: left;
  }
  .laning-page .header-area .links li {
    display: block;
    margin: 10px;
  }
  .laning-page .header-area .links li a {
    color: var(--primary-color);
    font-weight: bold;
  }
  .header-area .toggle-menu {
    display: inline-block;
  }
}
/************* About Us ****************/
.about-us {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
}
@media (max-width: 767px) {
  .about-us {
    display: block;
    text-align: center;
  }
}
.about-us .info-box {
  flex: 1;
  padding: 30px;
}
@media (max-width: 767px) {
  .about-us .info-box {
    padding: 0;
  }
}
.about-us .info-box h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0 0 10px;
}

.about-us .info-box p {
  line-height: 1.8;
  color: #767676;
  margin: 0;
}
.about-us .iamge-box {
  flex: 1;
  text-align: center;
}

.about-us .iamge-box img {
  width: 250px;
}
/* End About Us */
/* Start Skills */
.skills {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #f6f6f6;
}
.skills h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0 0 50px;
  text-align: center;
}

.skills .skill-box {
  background-color: #fff;
  display: flex;
  padding: 15px;
  margin-bottom: 15px;
}
@media (max-width: 767px) {
  .skills .skill-box {
    display: block;
  }
}
.skills .skill-box .skill-name {
  font-weight: bold;
  width: 140px;
  text-align: center;
  line-height: 30px;
}
@media (max-width: 767px) {
  .skills .skill-box .skill-name {
    width: 100%;
    margin-bottom: 15px;
  }
}
.skills .skill-box .skill-progress {
  height: 30px;
  width: 100%;
  background-color: #f6f6f6;
  border-radius: 6px;
  position: relative;
  overflow: hidden;
}
.skills .skill-box .skill-progress span {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100%;
  background-color: var(--primary-color);
  transition: all 0.5s;
}

/* End Skills */
/* Start Gallery */
.gallary {
  padding-top: 50px;
  padding-bottom: 50px;
}
.gallary h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0 0 50px;
  text-align: center;
}
.gallary .image-box {
  text-align: center;
}
.gallary .image-box img {
  width: 200px;
  padding: 5px;
  background-color: #f6f6f6;
  border: 1px solid #eee;
  margin: 5px;
  cursor: pointer;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1000;
}

.PopupBox {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #eee;
  padding: 20px;
  z-index: 1001;
}
.PopupBox h2 {
  text-align: center;
  color: var(--primary-color);
  font-weight: bold;
  /* padding: 20px; */
  margin-bottom: 20px;
}
.PopupBox img {
  max-width: 100%;
}
.close {
  position: absolute;
  top: -15px;
  right: -15px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  cursor: pointer;
  border-radius: 50%;
}
/* End Gallary */
/* <!-- Start Timeline --> */
.timeline {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #eee;
}

.timeline .time-content {
  position: relative;
  overflow: hidden;
}
.timeline .time-content::before {
  content: "";
  width: 2px;
  height: 100%;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 0;
}
.timeline .time-content .year {
  background-color: var(--primary-color);
  margin: 20px auto;
  width: 50px;
  position: relative;
  z-index: 2;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  padding: 2px 5px;
  font-weight: bold;
}

.timeline .time-content .left,
.timeline .time-content .right {
  width: calc(50% - 25px);
  margin-bottom: 40px;
  position: relative;
}

.timeline .time-content .left {
  float: left;
}
.timeline .time-content .right {
  float: right;
}

.timeline .time-content .left::before {
  right: -34px;
}
.timeline .time-content .right::before {
  left: -35px;
}

.timeline .time-content .left::before,
.timeline .time-content .right::before {
  content: "";
  width: 14px;
  height: 14px;
  background-color: #fff;
  border: 3px solid var(--primary-color);
  position: absolute;
  border-radius: 50%;
  top: 20px;
}
@media (max-width: 767px) {
  .timeline .time-content .left,
  .timeline .time-content .right {
    width: 100%;
    margin-bottom: 20px;
  }
  .timeline .time-content .left:before,
  .timeline .time-content .right:before {
    display: none;
  }
  .timeline .time-content .left::before,
  .timeline .time-content .right::before {
    display: none;
  }
}
.timeline .time-content .content {
  background-color: #fff;
  padding: 20px;
}
.timeline .time-content .content h3 {
  font-weight: bold;
  color: var(--primary-color);
  margin: 0 0 10px;
}
.timeline .time-content .content p {
  color: #666;
  margin: 0;
  line-height: 1.6;
}
.timeline .time-content .left .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent transparent transparent #fff;
  height: 0;
  width: 0;
  position: absolute;
  right: -19px;
  top: 20px;
}
.timeline .time-content .right .content:before {
  content: "";
  border-style: solid;
  border-width: 10px;
  border-color: transparent #fff transparent transparent;
  height: 0;
  width: 0;
  position: absolute;
  left: -19px;
  top: 20px;
}
.clearfix {
  clear: both;
}

/* Start Fearures */
.feature {
  padding-top: 60px;
  padding-bottom: 60px;
}
.feature h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0 0 50px;
  text-align: center;
}

.feature .feat-box {
  width: calc(100% / 3);
  float: left;
  text-align: center;
}
@media (max-width: 991px) {
  .feature .feat-box {
    width: calc(100% / 2);
  }
}
@media (max-width: 575px) {
  .feature .feat-box {
    width: 100%;
  }
}
.feature .feat-box img {
  width: 96px;
}
.feature .feat-box h4 {
  font-size: 22px;
  margin: 15px 0 40px;
  position: relative;
}

.feature .feat-box h4::before {
  content: "";
  width: 40px;
  height: 4px;
  background-color: var(--primary-color);
  position: absolute;
  left: 50%;
  margin-left: -20px;
  bottom: -22px;
}
.feature .feat-box p {
  width: 80%;
  margin: 0 auto;
  color: #666;
  line-height: 1.7;
  margin-bottom: 20px;
}

/* /Contact Us */
.contact {
  background-image: url("../imgs/contact.png");
  background-size: cover;
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 600px;
}
.contact .over {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.contact .container {
  position: relative;
  z-index: 2;
}
.contact h2 {
  font-weight: bold;
  font-size: 30px;
  color: var(--primary-color);
  margin: 0 0 60px;
  text-align: center;
}
.contact form {
  overflow: hidden;
  max-width: 800px;
  margin: auto;
}

.contact form .left {
  float: left;
  width: 49%;
}

.contact form .right {
  float: right;
  width: 49%;
}
@media (max-width: 767px) {
  .contact form .left,
  .contact form .right {
    float: none;
    width: 100%;
  }
}
.contact form input:not([type="submit"]),
.contact form textarea {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  background-color: rgba(218, 218, 218, 0.19);
}

.contact form input:not([type="submit"]):focus,
.contact form textarea:focus {
  outline: 1px solid var(--primary-color);
}
.contact form input {
  height: 40px;
}
.contact form textarea {
  height: 150px;
}
.contact form input[type="submit"] {
  padding: 10px;
  width: 100%;
  border-color: transparent;
  background-color: var(--primary-color);
  color: #fff;
  cursor: pointer;
}

.contact form textarea:focus::-webkit-input-placeholder,
.contact form input:not([type="submit"]):focus::-webkit-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus:-ms-input-placeholder,
.contact form input:not([type="submit"]):focus:-ms-input-placeholder {
  opacity: 0;
  transition: 0.3s;
}
.contact form textarea:focus::placeholder,
.contact form input:not([type="submit"]):focus::placeholder {
  opacity: 0;
  transition: 0.3s;
}
/* End Contact Us */
/* Start Footer */
.footer {
  background-color: #000;
  color: #eee;
  padding: 20px;
  text-align: center;
}

.footer a {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}

.footer a:visited {
  color: var(--primary-color);
  text-decoration: none;
  font-weight: bold;
}
/* End Footer */
